<div id="wrapper">
    <!-- Nav Header Start -->
    <nav class="navbar navbar-light bg-faded">
        <header></header>
    </nav>
    <!-- /. Nav Header End -->

    <!--  Main Component Start  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="container bgcontainer">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
    <!--  Main Component End  -->

    <!-- Nav Footer Start -->
    <nav class="navbar navbar-light bg-faded">
        <footer></footer>
    </nav>
    <!-- /. Nav Footer End -->
</div>
